# 1. Игнорируем абсолютно все файлы по умолчанию
*

# 2. Разрешаем Git заходить в папки, чтобы искать файлы внутри них
!*/

# 3. Разрешаем отслеживать только Python-скрипты
!*.py

# 4. Разрешаем README и сам файл .gitignore
!README.md
!.gitignore

# 5. Исключаем папки виртуального окружения и кэша компилятора
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store

# 6. Жестко блокируем попадание логов, данных, состояния и секретных данных в Git
.env
*.csv
*.json
*.log
